:root {
    --background-color: rgba(229, 84, 115, 0.2);
    --paragraph-color: rgba(39, 39, 39, 0.6);
    --background-color-button: rgb(229, 84, 115);
}


* {
    padding: 0;
    margin: 0;
}

.paragraph {
    color: var(--paragraph-color);
    font-size: 1.2rem;
}

.heading {
    font-weight: 700;
    font-size: 2rem;
}

.btn {
    background-color: var(--background-color-button);
    color: #fff;
    border: none;
    padding: .6rem 1rem;
    font-size: 1rem;
    border-radius: 7px;
    transition: all 0.3s;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid var(--background-color-button);
    background-color: #fff;
    color: #000;
}

.hero {
    height: 100vh;
    background-color: var(--background-color);
}

.hero-container {
    display: flex;
    gap: 1.2rem;
    width: 75%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.hero-contain {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    padding-top: 50px;

}

.hero-contain h2 {
    font-weight: 600;
    font-size: 4.2rem;

}

.hero-container .img {

    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: auto;
    height: 80vh;
    padding-top: 20vh;


}

.hero-container .img img {


    height: 100%;
    object-fit: contain;
   

}





/* for gap only heading and paragraph */

.feature-heading{
 display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    width: 40%;
    margin: 5rem auto 0 auto;
}

/* feature flower  details */

.feature-flower-details{
    width: 75%;
    margin:auto;
    display: flex;
    gap: 1.5rem;
    align-items: flex-end;
    margin-top: 3.3rem;
}
.feature-flower-details .flower{

    text-align: center;
    text-decoration: underline;
}

.feature-flower-details .flower p{
    margin-top: 1.2rem;
    font-size: 1.2rem;
}
.feature-flower-details .flower-img{
    display: flex;
    align-items: flex-end;
    flex: 1;
    height: 300px;
    padding: 7rem 3.5rem 0 3.5rem;
    border-radius: 300px 300px 0 0;
}

.feature-flower-details .flower-img img{
    max-width: 85%;
    max-width: 100%;
}
.feature-details-first{
    background-color: var(--background-color);

}

.feature-details-second{
    background-color: rgba(5, 151, 160,0.15);
   
}

.feature-details-third{
    background-color: rgba(71, 125, 17,0.15);
}


/* service div */

.feature-container .service{
    width: 75%;
    height: 250px;
    height: 10rem;
    margin: 5rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 39, 39,0.05);
    margin-bottom: 200px;
    padding: 2rem 0;
}


.service .service-contain{
    width: 80%;
   
    display: flex;
    justify-content: space-between;
   

}

.service .service-contain .contian{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    align-items: center;
}


/* for small device */
@media screen and (max-width: 576px) {

   

    .hero {
        height: auto;
        padding: 0rem 0 2rem 0;
    }

    .hero-container {
        width: 100%;
        flex-direction: column;
    }

    .hero-contain {
        width: 80%;
       margin: auto;
    }

    .hero-contain h2 {
    font-weight: 600;
    font-size: 1.2rem;

}
    .hero-container .img {
        display: none;
    }

    .button{
        display: flex;
        justify-content: center;
    }

    .hero-contain h2{
        font-size: 1.6rem;
        line-height: 2.3rem;
        text-align: center;
    }

    .hero-contain p{
        line-height: 1.7rem;
       text-align: justify;
    }


    /* for gap only heading and paragraph */

.feature-heading{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    width: 80%;
    margin: 5rem auto 0 auto;
    text-align: justify;
   
}

.feature-heading h2{
    text-align: center;
}

/* feature flower  details */

.feature-flower-details{
    width: 95%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    align-items: flex-end;
    margin-top: 3.3rem;
    justify-content: space-between;
}

.feature-flower-details > :nth-child(3){
    grid-column: 1/-1;
    width: 50%;
    margin: 0 auto;
}

.feature-flower-details .flower-img {
    display: flex;
    width: 150px;
    flex: 1;
    height: 150px;
    justify-content: center;
    padding: 1.5rem 1.1rem 0 1.1rem;
    border-radius: 300px 300px 0 0;
    box-sizing: border-box;
}

.feature-flower-details .flower-img img{
    width: 80%;
    max-width: 40%;
    height: 80%;
    display: block;

}

}




/* for medium device */

@media screen and (min-width:577px) and (max-width:768px) {
   .paragraph {
    color: var(--paragraph-color);
    font-size: 1.2rem;
}

.heading {
    font-weight: 700;
    font-size: 2rem;
}

.btn {
    background-color: var(--background-color-button);
    color: #fff;
    border: none;
    padding: .6rem 1rem;
    font-size: 1rem;
    border-radius: 7px;
    transition: all 0.3s;
    cursor: pointer;
    
}

.button{
    display: flex;
    justify-content: center;
}

.btn:hover {
    border: 2px solid var(--background-color-button);
    background-color: #fff;
    color: #000;
}

.hero {
    height: auto;
    background-color: var(--background-color);
}

.hero-container {
    display: flex;
    gap: 1.2rem;
    width: 90%;
   
   
    justify-content: space-between;
   
}

.hero-contain {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    padding-top: 0px;

}

.hero-contain h2 {
    font-weight: 600;
    font-size: 2.2rem;

}

.hero-container .img {

    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    height: 40vh;
    padding-right: 20px;
    padding-top: 0vh;


}

.hero-container .img img {


    height: 80%;
    object-fit: contain;
   

}


/* feature */

.feature-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    gap: 1rem;
    text-align: center;
    width: 80%;
    margin-top: 5rem;
    margin-left: 30px;
    margin-right: 30px;
   outline: 2px solid red;
   box-sizing: border-box;
  
}

.feature-heading p{
    font-size: 1.5rem;
}


/* feature flower  details */

.feature-flower-details{
    width: 80%;
    margin: 3.3rem 10px 0 30px;
    display: flex;
    gap: 1.5rem;
    align-items: flex-end;
    box-sizing: border-box;
}
.feature-flower-details .flower{

    text-align: center;
    text-decoration: underline;
}

.feature-flower-details .flower p{
    margin-top: 1.2rem;
    font-size: 1.2rem;
}
.feature-flower-details .flower-img{
    display: flex;
    align-items: flex-end;
    flex: 1;
    height: 150px;
    padding: 2rem 3.5rem 0 3.5rem;
    border-radius: 300px 300px 0 0;
}

.feature-flower-details .flower-img img{
   
    max-width: 100%;
}

/* service div */

.feature-container .service{
    width: 100%;
    height: 7rem;
    margin: 5rem 0 0 0;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(39, 39, 39,0.05);
    margin-bottom: 200px;
    padding: 2.5rem 0 2.5rem 2rem ;
}


.service .service-contain{
    width: 80%;
   
    display: flex;
    justify-content: space-between;
   

}

.service .service-contain .contian{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    align-items: center;
}


}

